<!DOCTYPE html>
<html lang="en">




<head>
    <title>My Profile</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="assets/myprofile/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="assets/myprofile/css/heroic-features.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="assets/myprofile/vendor/jquery/jquery.min.js"></script>
    <!-- <script src="myProfile.js"></script> -->
    <!-- ============================================================= -->
    <link href="assets/toastr/js/toastr.min.css" rel="stylesheet">

    <!-- ========================= -->
    </script>

</head>

<body>

    <nav id="navbar" class="navbar navbar-expand-lg navbar-light bg-light fixed-top">

    </nav>

    <hr>
    <div class="container bootstrap snippet">
        <div class="row">
            <div class="col-sm-10">
                <h1>User Profile Information</h1>
            </div>

        </div>
        <div class="row">
            <div class="col-sm-9">

                </hr><br>




                <div class="" id="messages">

                    <h2></h2>

                    <hr>
                    <form class="form" action="" method="post" id="registrationForm" enctype="multipart/form-data">

                        <div class="text-center">
                            <% if(user[0].dp == ""){ %>
                                <% var dp = "http://ssl.gstatic.com/accounts/ui/avatar_2x.png" %>
                                    <% } else{ %>
                                        <% dp = user[0].dp %>
                                            <% } %>

                                                <img src="<%= user[0].dp %>" class="avatar img-circle img-thumbnail">
                                                <h6>Upload a photo...</h6>
                                                <input type="file" name="dp" value="" class="text-center center-block file-upload">
                        </div>



                        <div class="form-group">

                            <div class="col-xs-6">
                                <label for="first_name">
                                    <h4>Name</h4>
                                </label>
                                <input type="text" class="form-control" name="name" id="name" value="<%=user[0].name%>">
                            </div>
                        </div>
                        <div class="form-group">



                            <div class="form-group">

                                <div class="col-xs-6">
                                    <label for="password">
                                        <h4>Password</h4>
                                    </label>
                                    <input type="password" class="form-control" name="password" id="password" value="<%=user[0].password%>">
                                </div>
                            </div>

                            <div class="form-group">

                                <div class="col-xs-6">
                                    <label for="status">
                                        <h4>Status</h4>
                                    </label>
                                    <input type="text" class="form-control" name="status" id="status" value="<%=user[0].status%>" readonly>
                                </div>
                            </div>

                            <div class="form-group">

                            </div>
                            <div class="form-group">

                                <div class="col-xs-6">
                                    <label for="email">
                                        <h4>Email</h4>
                                    </label>
                                    <input type="email" class="form-control" name="email" id="email" value="<%=user[0].email%>" readonly>
                                </div>
                            </div>
                            <div class="form-group">

                                <div class="col-xs-6">
                                    <label for="type">
                                        <h4>Type</h4>
                                    </label>
                                    <input type="text" class="form-control" id="type" value="<%=user[0].type%>" readonly>
                                </div>
                            </div>

                            <div class="form-group">

                                <div class="col-xs-6">
                                    <label for="type">
                                        <h4>Department</h4>
                                    </label>
                                    <input type="text" class="form-control" id="type" value="<%=user[0].department%>" readonly>
                                </div>
                            </div>

                            <div class="form-group">

                                <div class="col-xs-6">
                                    <label for="type">
                                        <h4>Designation</h4>
                                    </label>
                                    <input type="text" class="form-control" id="type" value="<%=user[0].designation%>" readonly>
                                </div>
                            </div>

                            <div class="form-group">

                                <div class="col-xs-6">
                                    <label for="type">
                                        <h4>Salary</h4>
                                    </label>
                                    <input type="text" class="form-control" id="type" value="<%=user[0].salary%>" readonly>
                                </div>
                            </div>
                            <div class="form-group">

                                <div class="col-xs-6">
                                    <label for="type">
                                        <h4>Joining Date</h4>
                                    </label>
                                    <input type="text" class="form-control" id="type" value="<%=user[0].joindate%>" readonly>
                                </div>
                            </div>

                            <div class="form-group">

                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <br>
                                    <button class="btn btn-lg btn-success" type="submit" id="btnSave"><i class="glyphicon glyphicon-ok-sign"></i> Save</button>

                                </div>
                            </div>

                            <script src="assets/myprofile/vendor/jquery/jquery.min.js"></script>
                            <script src="assets/myprofile/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

                            <!-- <script type="text/javascript" src="Navbar.js"></script> -->

                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- <script src="assets/toastr/js/toastr.min.js"></script>
        <script>
            $(document).ready(function() {
                toastr.options = {
                    "closeButton": false,
                    "debug": false,
                    "newestOnTop": false,
                    "progressBar": false,
                    "positionClass": "toast-top-right",
                    "preventDuplicates": false,
                    "onclick": null,
                    "showDuration": "300",
                    "hideDuration": "1000",
                    "timeOut": "5000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                }
                let msg = req.params.msg;
                if (msg != "") {
                    toastr["error"](msg);
                }
            })
        </script> -->
</body>

</html>