<!DOCTYPE html>
<html lang="en">




<head>
    <title>Student Profile</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../assets/myprofile/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../assets/myprofile/css/heroic-features.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="../assets/myprofile/vendor/jquery/jquery.min.js"></script>
    <!-- <script src="myProfile.js"></script> -->
    <!-- ============================================================= -->
    <link href="../assets/toastr/js/toastr.min.css" rel="stylesheet">

    <!-- ========================= -->
    </script>

</head>

<body>

    <nav id="navbar" class="navbar navbar-expand-lg navbar-light bg-light fixed-top">

    </nav>

    <hr>
    <div class="container bootstrap snippet">


        <div class="row">
            <div class="col-sm-10">
                <h1>Student Information</h1>
            </div>

        </div>
        <div class="row">
            <div class="col-sm-4">

                </hr><br>




                <div class="" id="messages">


                    <hr>


                    <div class="text-center">


                        <img src="../<%= user[0].dp %>" class="avatar img-circle img-thumbnail">

                    </div>

                    <form method="POST" action="../student/<%=user[0].email%>">

                        <div class="form-group">

                            <div class="col-xs-6">
                                <label for="first_name">
                                    <h4>Name</h4>
                                </label>
                                <input type="text" class="form-control" name="name" id="name" value="<%=user[0].name%>" readonly>
                            </div>
                        </div>
                        <div class="form-group">




                            <div class="form-group">

                                <div class="col-xs-6">
                                    <label for="status">
                                        <h4>Status</h4>
                                    </label>
                                    <input type="text" class="form-control" name="status" id="status" value="<%=user[0].status%>">
                                </div>
                            </div>

                            <div class="form-group">

                            </div>
                            <div class="form-group">

                                <div class="col-xs-6">
                                    <label for="email">
                                        <h4>Email</h4>
                                    </label>
                                    <input type="email" class="form-control" name="email" id="email" value="<%=user[0].email%>" readonly>
                                </div>
                            </div>


                            <!-- ====================== -->




                            <div class="form-group">

                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <br>
                                    <button class="btn btn-lg btn-success" type="submit" id="btnSave"><i class="glyphicon glyphicon-ok-sign"></i> Save</button>

                                </div>
                            </div>

                    </form>

                    </div>

                </div>
            </div>

            <div class="col-sm-4">

                </hr><br>




                <div class="" id="messages">


                    <hr>





                    <div class="form-group">






                        <div class="form-group">

                        </div>
                        <div class="form-group">

                            <div class="col-xs-6">
                                <label for="heading">
                                    <h4>Show Library Information</h4>
                                </label>
                                <!-- <p id="books"></p> -->
                                <table id="books" class="table table-hover table-condensed" border="1">
                                    <tr>
                                        <th>Book Name</th>
                                        <th>Borrow Date</th>
                                        <th>Return Date</th>
                                    </tr>
                                </table>
                            </div>
                        </div>


                        <!-- ====================== -->




                        <div class="form-group">

                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <br>
                                <button class="btn btn-lg btn-success" type="button" id="btnLibrary"><i class="glyphicon glyphicon-ok-sign"></i> Library</button>

                            </div>
                        </div>



                    </div>

                    <div class="form-group">






                        <div class="form-group">

                        </div>
                        <div class="form-group">

                            <div class="col-xs-6">
                                <label for="heading">
                                    <h4>Show Account Information</h4>
                                </label>
                                <!-- <p id="books"></p> -->
                                <table id="payment" class="table table-hover table-condensed" border="1">
                                    <tr>
                                        <th>Account Name</th>
                                        <th>Student Info</th>
                                        <th>Last Payment</th>
                                    </tr>
                                </table>
                            </div>
                        </div>


                        <!-- ====================== -->




                        <div class="form-group">

                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <br>
                                <button class="btn btn-lg btn-success" type="button" id="btnAccount"><i class="glyphicon glyphicon-ok-sign"></i>Account</button>

                            </div>
                        </div>



                    </div>

                </div>
            </div>

        </div>


        <!-- <script src="assets/toastr/js/toastr.min.js"></script>
        <script>
            $(document).ready(function() {
                toastr.options = {
                    "closeButton": false,
                    "debug": false,
                    "newestOnTop": false,
                    "progressBar": false,
                    "positionClass": "toast-top-right",
                    "preventDuplicates": false,
                    "onclick": null,
                    "showDuration": "300",
                    "hideDuration": "1000",
                    "timeOut": "5000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                }
                let msg = req.params.msg;
                if (msg != "") {
                    toastr["error"](msg);
                }
            })
        </script> -->
        <script src="../assets/myprofile/vendor/jquery/jquery.min.js"></script>
        <script src="../assets/myprofile/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script>
            $("#navbar").load("../home/navbar");
        </script>

        <!-- <script type="text/javascript" src="Navbar.js"></script> -->
        <script>
            $('#btnLibrary').on('click', function() {
                $.ajax({
                    url: '/library/<%=user[0].email%>',
                    method: 'get',
                    dataType: 'json',
                    success: function(data) {
                        var msg = "";
                        for (var i = 0; i < data.length; i++) {
                            //var msg = data[i].n_details + "  - " + data[i].posted_by;
                            msg = msg + "<tr> <td> '" + data[i].bookname + "' </td> <td> '" + data[i].bdate + "' </td> <td> '" + data[i].rdate + "' </td> </tr>";
                        }
                        $('#books').append(msg);

                    },
                    error: function(response) {
                        alert('server error occured')
                    }
                });
            })
        </script>

        <script>
            $('#btnAccount').on('click', function() {
                $.ajax({
                    url: '/account/<%=user[0].email%>',
                    method: 'get',
                    dataType: 'json',
                    success: function(data) {
                        var msg = "";
                        for (var i = 0; i < data.length; i++) {
                            //var msg = data[i].n_details + "  - " + data[i].posted_by;
                            msg = msg + "<tr> <td> " + data[i].pid + " </td> <td> " + data[i].pamount + " </td> <td> " + data[i].pdate + " </td> </tr>";
                        }
                        $('#payment').append(msg);

                    },
                    error: function(response) {
                        alert('server error occured')
                    }
                });
            })
        </script>
</body>

</html>